html,body {
	margin: 0px;
	padding: 0px;
}

body {
	background: url(../img/b.jpg)0px 0px;
	background-size:cover;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.main{
	height: 524px;
	overflow: hidden;
	position: absolute;
	background: rgba(255, 255, 255, 0.3);
	margin-left: -500px;
	left: 50%;
	transition: all 2s;
	-moz-transition: all 2s;	/* Firefox 4 */
	-webkit-transition: all 2s;	/* Safari 和 Chrome */
	-o-transition: all 2s;	/* Opera */
}

.myWindow {
	position: absolute;
	transition: all 2s;
	-moz-transition: all 2s;	/* Firefox 4 */
	-webkit-transition: all 2s;	/* Safari 和 Chrome */
	-o-transition: all 2s;	/* Opera */
	/*left: -500px;*/
}

.myPage {
	width: 1000px;
	height: 524px;
	position: absolute;
}

.begin {
	top: 100%;
	opacity: 0;
}

.after {
	top: 50%;
	margin-top: -262px;
	opacity: 1;
}
/* Book navigation */

.main > nav a {
    position: absolute;
    z-index: 1000;
    font-size: 0;
    opacity: 0.4;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.main > nav a:hover { opacity: 1 }

.main > nav a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgba(221, 221, 221, 0.7);
}

.main > nav a::before,
.main > nav a::after {
    position: absolute;
    top: 0;
    left: 25%;
    width: 1px;
    height: 50%;
    background: #333;
    content: '';
}

.main > nav a.bb-nav-close::before,
.main > nav a.bb-nav-close::after {
    top: 15%;
    left: 50%;
    height: 70%;
}

.main > nav a:not(.bb-nav-close)::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.main > nav a:not(.bb-nav-close)::after {
    top: 50%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.wrapper {
	margin: 0 auto;
	max-width: 1000px;
	width: 100%;
	height: 524px;
	overflow: hidden;
	position: absolute;
	background: rgba(255, 255, 255, 0.3);
	margin-left: -500px;
	left: 50%;
	top: 50%;
	margin-top: -262px;
	transition: all 2s;
	-moz-transition: all 2s;	/* Firefox 4 */
	-webkit-transition: all 2s;	/* Safari 和 Chrome */
	-o-transition: all 2s;	/* Opera */
}

.wrapper_after {
	top: -100%;
}

.wrapper .title {
	/* font-size: 40px; */
	color: white;
	height: 250px;
	line-height: 250px;
	width: 900px;
	position: relative;
	margin: 20px auto;
}

.wrapper .title span {
	font-size: 80px;
}

.wrapper .title img {
	width: 100px;
	height: 100px;
	border: none;
	display: block;
	position: absolute;
	top: 75px;
	right: 0px;
	transition: all 2s;
	-moz-transition: all 2s;	/* Firefox 4 */
	-webkit-transition: all 2s;	/* Safari 和 Chrome */
	-o-transition: all 2s;	/* Opera */
	/*vertical-align: middle;*/
}

.wrapper .title .move {
	animation:myfirst 2s linear infinite normal;
	/* Firefox: */
	-moz-animation:myfirst 2s linear infinite normal;
	/* Safari and Chrome: */
	-webkit-animation:myfirst 2s linear infinite normal;
	/* Opera: */
	-o-animation:myfirst 2s linear infinite normal;
}

@keyframes myfirst {
	0%   {
		transform: rotate(0deg);
		-ms-transform: rotate(0deg);		/* IE 9 */
		-webkit-transform: rotate(0deg);	/* Safari and Chrome */
		-o-transform: rotate(0deg);		/* Opera */
		-moz-transform: rotate(0deg);		/* Firefox */
	}
	100% {
		transform: rotate(360deg);
		-ms-transform: rotate(360deg);		/* IE 9 */
		-webkit-transform: rotate(360deg);	/* Safari and Chrome */
		-o-transform: rotate(360deg);		/* Opera */
		-moz-transform: rotate(360deg);		/* Firefox */
	}
}

@-moz-keyframes myfirst /* Firefox */ {
	0%   {
		transform: rotate(0deg);
		-ms-transform: rotate(0deg);		/* IE 9 */
		-webkit-transform: rotate(0deg);	/* Safari and Chrome */
		-o-transform: rotate(0deg);		/* Opera */
		-moz-transform: rotate(0deg);		/* Firefox */
	}
	100% {
		transform: rotate(360deg);
		-ms-transform: rotate(360deg);		/* IE 9 */
		-webkit-transform: rotate(360deg);	/* Safari and Chrome */
		-o-transform: rotate(360deg);		/* Opera */
		-moz-transform: rotate(360deg);		/* Firefox */
	}
}

@-webkit-keyframes myfirst /* Safari and Chrome */{
	0%   {
		transform: rotate(0deg);
		-ms-transform: rotate(0deg);		/* IE 9 */
		-webkit-transform: rotate(0deg);	/* Safari and Chrome */
		-o-transform: rotate(0deg);		/* Opera */
		-moz-transform: rotate(0deg);		/* Firefox */
	}
	100% {
		transform: rotate(360deg);
		-ms-transform: rotate(360deg);		/* IE 9 */
		-webkit-transform: rotate(360deg);	/* Safari and Chrome */
		-o-transform: rotate(360deg);		/* Opera */
		-moz-transform: rotate(360deg);		/* Firefox */
	}
}

@-o-keyframes myfirst /* Opera */ {
	0%   {
		transform: rotate(0deg);
		-ms-transform: rotate(0deg);		/* IE 9 */
		-webkit-transform: rotate(0deg);	/* Safari and Chrome */
		-o-transform: rotate(0deg);		/* Opera */
		-moz-transform: rotate(0deg);		/* Firefox */
	}
	100% {
		transform: rotate(360deg);
		-ms-transform: rotate(360deg);		/* IE 9 */
		-webkit-transform: rotate(360deg);	/* Safari and Chrome */
		-o-transform: rotate(360deg);		/* Opera */
		-moz-transform: rotate(360deg);		/* Firefox */
	}
}

.search {
	text-align: center;
}

.search #wrapperInput {
	width: 600px;
	height: 50px;
	border-radius: 4px;
	border: 1px solid #ddd;
	padding: 10px;
}

.search #wrapperBtn {
	height: 50px;
	padding-left: 20px;
	padding-right: 20px;
	background: rgb(156, 156, 156);
	border-color: rgb(209, 209, 209);
	border-radius: 4px;
	display: inline-block;
	line-height: 50px;
	cursor: pointer;
}