html,body {
	margin: 0px;
	padding: 0px;
}

body {
	background: url(../img/b.jpg)0px 0px;
	background-size:cover;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.main{
	height: 524px;
	overflow: hidden;
	position: absolute;
	background: rgba(255, 255, 255, 0.3);
	margin-left: -500px;
	left: 50%;
	transition: all 2s;
	-moz-transition: all 2s;	/* Firefox 4 */
	-webkit-transition: all 2s;	/* Safari 和 Chrome */
	-o-transition: all 2s;	/* Opera */
}

.myWindow {
	position: absolute;
	transition: all 2s;
	-moz-transition: all 2s;	/* Firefox 4 */
	-webkit-transition: all 2s;	/* Safari 和 Chrome */
	-o-transition: all 2s;	/* Opera */
	/*left: -500px;*/
}

.myPage {
	width: 1000px;
	height: 524px;
	position: absolute;
}

.begin {
	top: 100%;
	opacity: 0;
}

.after {
	top: 50%;
	margin-top: -262px;
	opacity: 1;
}
/* Book navigation */

.main > nav a {
    position: absolute;
    z-index: 1000;
    font-size: 0;
    opacity: 0.4;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.main > nav a:hover { opacity: 1 }

.main > nav a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgba(221, 221, 221, 0.7);
}

.main > nav a::before,
.main > nav a::after {
    position: absolute;
    top: 0;
    left: 25%;
    width: 1px;
    height: 50%;
    background: #333;
    content: '';
}

.main > nav a.bb-nav-close::before,
.main > nav a.bb-nav-close::after {
    top: 15%;
    left: 50%;
    height: 70%;
}

.main > nav a:not(.bb-nav-close)::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.main > nav a:not(.bb-nav-close)::after {
    top: 50%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
